html, body {
    margin: 0;
    font-family: Arial;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#content-wrap {
    flex: 1;
    transition: background-color 0.25s ease-in-out;
}

#header {
    display: flex;
    justify-content: center;
    transition: color 0.25s ease-in-out;
}

#title {
    font-size: 42px;
    font-weight: bold;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: gray;
    transition: background-color 0.25s ease-in-out;
}

#footer-text {
    margin: 0 10px;
    text-decoration: none;
    color: gray;
}

#footer-text:hover {
    color: #a1a1a1;
    transition: color 0.15s ease-in-out;
}

#footer button {
    color: gray;
    padding: 0;
    margin: 0 10px;
    border: none;
    background: none;
}

#footer button:hover, #footer button:hover {
    color: #a1a1a1;
    transition: color 0.15s ease-in-out;
    cursor: pointer;
}