html, body {
    margin: 0;
    font-family: Arial;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#content-wrap {
    flex: 1;
    transition: background-color 0.25s ease-in-out;
}

#categories {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    transition: color 0.25s ease-in-out;
}

#category {
    width: 30%;
    padding: 20px 0;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: teal;
    background-color: rgba(0,139,139, 0.1);
    height: 400px;
    z-index: 1000;
}

#title {
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0;
    overflow-x: hidden;
}

#works {
    height: 368px;
    position: relative;
    z-index: 0;
    overflow-y: auto;
}

#work:first {
    border-style: solid none solid none;
}

#work {
    text-align: left;
    border-style: solid none none none;
    border-color: #30363d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#work-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 0 10px;
}

#work-title {
    font-size: 18px;
    font-weight: bold;
}

#work-lang {
    padding-right: 2px;
    font-size: 14px;
}

#work-caption {
    padding: 10px;
}

#work-link i {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 0 20px;
    transition: color 0.25s ease-in-out;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    color: gray;
    transition: background-color 0.25s ease-in-out;
}

#footer-text {
    margin: 0 10px;
    text-decoration: none;
    color: gray;
}

#footer-text:hover {
    color: #a1a1a1;
    transition: color 0.15s ease-in-out;
}

#footer button {
    color: gray;
    padding: 0;
    margin: 0 10px;
    border: none;
    background: none;
}

#footer button:hover, #footer button:hover {
    color: #a1a1a1;
    transition: color 0.15s ease-in-out;
    cursor: pointer;
}

@media only screen and (max-width: 1150px) {
    #categories {
        display: block;
    }

    #category {
        width: 90%;
        margin: 0 auto 30px;
    }

    #work-content {
        width: 90%;
    }
}